.dialog {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex: 1;
    overflow: hidden;
}
.friendsList {
    width: 250px;
    background-color: #f1f1f1;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}
.friendsList h2 {
    margin: 0;
    padding: 15px;
    background-color: #e17979;
    color: white;
    text-align: center;
    border: solid 1px  rgb(202, 170, 170);
}
.friend {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.friend:hover {
    background-color: #e9e9e9;
}
.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.chatWindow {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    overflow-y: auto;
}
.message {
    margin-bottom: 10px;
}
.message .sender {
    font-weight: bold;
}
.message .text {
    margin-left: 10px;
}
.messageInput {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
}
.messageInput input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}
.messageInput button {
    padding: 10px 20px;
    border: none;
    background-color: #e17979;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.messageInput button:hover {
    background-color: #a25757;
}