.newPost textarea{
    border: 1px solid rgb(184, 184, 184);
    background-color: rgb(224, 224, 224);
    width: 30%;
    margin: 10px;
    /* border-radius: 20px; */
    padding:10px;
    resize: none;
}

.newPost button{
    background-color: #aa0404; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
}

textarea:focus{
    outline: blue;
}

.newPost label{
    color: black;
    font-weight: 400;
}



/* .post{
    display: grid;

    grid-template-areas: 
    "avatar name"
    "avatar text";
    width: 88%;
    margin-top: 10px;

    grid-template-rows: 25px 1fr;
    grid-template-columns: 8% 1fr;

    padding: 10px;
    border-radius: 10px;
    background-color: rgb(238, 237, 237);
}

.avatar img{
    width: 50px;
    border-radius: 100%;
    grid-area: avatar;
    border: 1px solid rgb(160, 160, 160);
}

.postName{
    grid-area: name;
    font-size: 18px;
    
}

.postText{
    grid-area: text;
    font-size: 16px;
    
} */

.bodyPost {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.post {
    display: flex;
    align-items: flex-start;
    border: 1px solid #c0c0c0;
    padding: 15px;
    border-radius: 8px;
    max-width: 600px;
    margin-bottom: 20px;
}
.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid rgba(204, 204, 204, 0.445);
}
.postContent {
    flex: 1;
}
.name {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}
.text {
    font-size: 1em;
    line-height: 1.5;
}